.block-header__main-column {
   margin: 30px 0px;
   max-width: 100%;
}

.block-header__row {
   display: flex;
   justify-content: space-between;
}

.block-header__row:first-child {
   margin-bottom: 25px;
   pointer-events: none;
}
.block-header__row-content-body{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 60px;
   background: #fff;
   pointer-events:all;
}
.block-header__logo {
   position: relative;
   z-index: 4;
   margin-right: 5px;
   display: inline-block;
}

.block-header__group-items {
   z-index: 4;
   display: flex;
   margin: 0px 5px;
   display: flex;
   flex: 0 1 615px;
   justify-content: space-between;
}

.block-header__btn {
   margin-right: 5px;
}

.block-header__btn a {
   display: flex;
   width: 155px;
   height: 50px;
   justify-content: center;
   align-items: center;
   background: #f188f2;
   border-radius: 5px;
   color: #fff;
   font-weight: 600;
}

.block-header__btn a:hover {
   background: #c949ca;
}

.block-header__shopping {
   margin-left: 5px;
}

.block-header__type-list {
   display: flex;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   flex: 0 1 auto;
   align-items: center;
   justify-content: space-between;
}

.block-header__type-item {
   margin: 0px 4px;
   text-align: center;
}

.block-header__tipe-link {
   text-align: center;
   align-items: center;
}

.block-header__info-container {
   display: flex;
   flex: 0 1 400px;
   justify-content: space-between;
   align-items: center;
   margin-right: 45px;
}

/* @media (max-width: 1024px) {
   .block-header__info-container {
      margin-right: 5px;
   }
} */

.block-header__tel {
   margin-right: 5px;
   display: inline-block;
   position: relative;
   white-space: nowrap;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   padding-left: 20px;
}

.block-header__tel::before,
.block-header__tel::after {
   content: "";
   position: absolute;
   left: 0;
   top: 50%;
   width: 5px;
   height: 1px;
   background: #000;
}

.block-header__tel::before {
   left: 4px;
   transform: translate(0px, 0px) rotate(-45deg) scale(1) skew(0deg, 0deg);
}

.block-header__tel::after {
   transform: translate(0px, 0px) rotate(45deg) scale(1) skew(0deg, 0deg);
}

.nav-bar {
   flex: 0 1 510px;
}

.nav-bar__list {
   display: flex;
   justify-content: space-between;
   height: 50px;
   align-items: center;
}

.nav-bar__item {
   margin: 0px 5px;
   font-weight: 500;
}

.nav-bar__burger {
   display: none;
   justify-content: center;
   align-items: center;
   width: 65px;
   height: 56px;
   border-right: 2px solid #eee;
   border-bottom: 2px solid #eee;
}

.nav-bar__burger span {
   position: relative;
   top: 0;
   left: 0;
   width: 36px;
   height: 26px;
   padding: 10px;
   border-radius: 5px;
}

.nav-bar__burger span::before {
   content: "";
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translate(-50%, 0px) rotate(0deg) scale(1) skew(0deg, 0deg);
   width: 16px;
   height: 2px;
   background: #787878;
}

.nav-bar__burger span::after {
   content: "";
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translate(-70%, 0px) rotate(0deg) scale(1) skew(0deg, 0deg);
   width: 11px;
   height: 2px;
   background: #787878;
}

.active {
   color: #fc42ff;
   font-weight: 600;
}

.menu-activate {
   overflow: hidden;
}
@media (max-width: 1200px) {
   
   .block-header__row:first-child {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      /* background: #fff; */
      overflow: hidden;
      transition: all 0.5s ease 0s;
      margin-bottom: 0;
   }
   .block-header__row:last-child {
      margin-top: 80px;
   }
   .block-header__info-container {
      flex-direction: column;
      position: fixed;
      z-index: 5;
      top: 300px;
      overflow: hidden;
      left: -100vw;
      transition: all 0.5s ease 0s;
   }
   .block-header__row:first-child.menu-activate{
      height: 100vh;
      transition: all 0.5s ease 0s;
      overflow: hidden;
   }
   .block-header__info-container.menu-activate {
      transition: all 0.5s ease 0.2s;
      
      left: 0px;
   }

   .block-header__tel {
      margin-bottom: 10px;
   }

   .block-header__tel::before,
   .block-header__tel::after {
      display: none;
   }

   .nav-bar {
      flex: 0 0 auto;
      order: -1;
   }

   .nav-bar__list {
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: -100vw;
      align-items: start;
      top: 0px;
      padding: 70px 10px 0px 10px;
      background: #fff;
      z-index: 0;
      flex-direction: column;
      justify-content: start;
      transition: all 0.5s ease 0.2s;

   }

   .nav-bar.menu-activate > .nav-bar__list {
      overflow: hidden;
      left: 0vw;
      transition: all 0.5s ease 0.2s;
   }

   .nav-bar__burger {
      display: flex;
   }

   .nav-bar__burger.menu-activate {
      overflow: hidden;
   }

   .nav-bar.menu-activate > .nav-bar__burger span {
      position: relative;
      z-index: 6;
      background: #feddff;
   }

   .nav-bar__link {
      font-size: 24px;
      line-height: 40px;
      text-align: left;
      align-items: start;
      width: 100%;
      padding: 10px;
      background: #fff;
   }

   .block-header__group-items {
      flex: 1 1 auto;
      margin: 0;
      position: relative;
      z-index: 7;
   }

   .block-header__btn {
      display: none;
   }

   .block-header__main-column {
      margin: 0;
   }

   .block-header__logo {
      margin: 0;
      margin-bottom: -10px;
      padding: 5px;
      order: -1;
      height: 56px;
      border-bottom: 2px solid #eee;
      border-right: 2px solid #eee;
      border-left: 2px solid #eee;
   }

   .block-header__group-items {
      height: 56px;
      border-bottom: 2px solid #eee;
      border-left: 1px solid #eee;
   }

   .block-header__shopping {
      position: relative;
      z-index: 4;
      height: 56px;
      padding: 6px;
      margin: 0px;
      border-bottom: 2px solid #eee;
      border-right: 2px solid #eee;
      border-left: 2px solid #eee;
   }

   .block-header__type-list {
      display: flex;
      width: 100%;
      overflow-x: scroll;
   }

   .block-header__type-list::-webkit-scrollbar {
      visibility: hidden;
   }

   .block-header__type-item {
      display: flex;
      border: 1px solid #eee;
      border-radius: 29px;
      padding: 0px 5px;
      height: 50px;
   }

   .block-header__tipe-link {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      white-space: nowrap;
   }

   .block-header__tipe-link {
      min-width: 180px;
   }
}
