.content-body-slider{
   display: grid;
   grid-template-columns: 155px minmax(400px, 728px);
}
.slider-dots{
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 115px;
   flex: 0 1 115px;
   /* width: 100%; */
   max-height: 740px;
   margin-right: 40px;
}
.slider-dots__item{
   max-width: 100%;
}
.slider-dots__btn-img{
   max-width: 100%;
}
.slider{
   /* flex: 0 0 728px; */
   /* max-width: 728px; */
}
.slider__img{
   width: 100%;
}
.slider .slider-list{
   /* width: 100%; */
}